.header p{
    margin: 0 6%;
    /* width: 15%; */
    font-size: 24px;
    color: white;    
    margin-top: 2%;
    border-radius: 20%;
    font-weight: 700;
    letter-spacing: 2px;
    /* box-shadow: 5px 5px 15px black; */

}